<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>189425275128-mr5sl7idmfgvp1n3hlq55ceblrads9uk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.189425275128-mr5sl7idmfgvp1n3hlq55ceblrads9uk</string>
	<key>API_KEY</key>
	<string>AIzaSyArLsju1Yari8aMLw9dFHW23NCY0bWU4Yk</string>
	<key>GCM_SENDER_ID</key>
	<string>189425275128</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-.-REALESTMENT-</string>
	<key>PROJECT_ID</key>
	<string>realestmentnew</string>
	<key>STORAGE_BUCKET</key>
	<string>realestmentnew.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:189425275128:ios:144be5030c0e1a92fdab0d</string>
	<key>DATABASE_URL</key>
	<string>https://realestmentnew.firebaseio.com</string>
</dict>
</plist>